h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
}
ul,li,ol,li{
    margin:0;
    padding:0;
    list-style:none;
}
body{
  background-color:#e1e1e1; 
}
.header{
  height:40px;
  font-size:13px;
}
.wrap {
  margin: 0 auto;
  width: 1200px;
  height:40px;
  /*padding:5px;*/  
  line-height:40px;
}

#logo {
  text-align: center;
}
.index_list {
  background: #fff;
}
.index_list .ant-list-item {
  padding-left: 30px;
  padding-right: 30px;
}
.IndexPagination {
  border-top: 1px solid #f0f0f0;
  padding: 20px 30px 50px;
  background: #fff;
}
.mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 100;
  opacity: 0;
  transition: .5s opacity;
}
.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -300px;
  width: 600px;
  height: 400px;
  background: #fff;
  z-index: 101;
  text-align: center;
  transform: translateY(-1000px);
  transition: .5s transform;
}



.logo{
  width: 120px;
  display: inline-block;
  height: 28px;
  margin-top: -10px;
  color: #ccc;
  font-weight: 700;
}

.inputSearch{
  width:200px;
  height:20px;
  outline:none;
  border-radius:10px;
  background: url(../image/search.png) 4px 0px no-repeat #888;
  padding: 3px 5px 3px 22px;
  color: #666;
  border: 0;
  margin-left: 20px;
  transition: all .5s;
}


/*body*/
.main{
   width:1200px;
   margin:20px auto;
}

.view {
  /*position: absolute;
  left: 0;
  top: 64px;
  width: 100%;
  min-height: 80vh;*/
}

.gitLogin{
  padding:10px 0 0px 20px;
  background:#fff;

}
.gitLogin p{
  padding:0;
  margin:0;
}
.gitLogin h6{
  line-height:38px;
}
.gitLogin button{
  margin:3px 0 5px 0;
}

.noAnser>div,.friends>div{
  margin-top:8px;
}

.friends li{
  width:150px;
}
.friends li img{
  display:inline-block;
  width:100%;
}

.erweima{
  padding:10px;
}
.erweima img{
  width:100%;
  display:inline-block;
}
.author_img{
    width:30px;
    height: 30px;
    display:inline-block;
}
.commentCount{
  width: 70px;
  display: inline-block;
  text-align: center;
}
.commentCount{
  color:#b4b4b4;
}

.top,.good{
  background: #80bd01;
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  color: #fff;
  font-size: 12px;
}
.share,.ask{
    background-color: #e5e5e5;
    color: #999;
    padding: 2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 12px;
}

.footer{
  background:none;

}