
.ant-layout-content .topComment{
    background-color: #fff;
    height:auto;
}

.topic_top,.topic_content{
    padding: 12px 0;
    margin-left: 12px;
}
.topic_title{
    height: 60px;
    line-height: 60px;
    
}
.topic_content{
    padding: 20px;
}
.topic_title .top {   
    margin-right: 10px;
    padding: 5px 10px;
}
.topic_list{
    height: 30px;
}
.topic_list ul li{
    float: left;
    margin-right: 10px;
    font-size: 10px;
}
.topic_list ul li:before {
    content: "•";
    margin-right: 5px;
}
.ant-comment-actions{
    float: right;
}
.topic_content img{
    width : 60%;
}
.ant-comment .authorName{
    font-weight: 700;
    color: #000;
    margin-left: 5px;
}

.getMoreComment{
    border: none;
    background: none;
    color: #b5afaf;
    cursor: pointer;
}
